/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    background: #030303;
    color: #9aff9a;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #060606;
    box-shadow: 0 0 15px #00ff88;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    color: #00ff88;
    font-size: 24px;
    letter-spacing: 2px;
}

.logo span {
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a {
    color: #9aff9a;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #00ff88;
    text-shadow: 0 0 10px #00ff88;
}

/* SECTIONS */
.section {
    padding: 120px 40px 60px;
    min-height: 100vh;
}

.section h2 {
    color: #00ff88;
    font-size: 32px;
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
    opacity: 0.8;
}
